<!DOCTYPE html>
<html lang="en">
  <head>
    <title><?php echo htmlspecialchars($title);?></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Code to ensure un-styled content does not briefly flash up -->
    <!-- (taken from https://stackoverflow.com/questions/3221561/eliminate-flash-of-unstyled-content) -->
    <style type="text/css">
      .hidden {display:none;}
    </style>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Local CSS -->
    <link rel="stylesheet" type="text/css" href="../../style/style.css">

    <!-- JQuery JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" 
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- JS and CSS for multi select on search page -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css">  

    <!-- Font Awesome CSS (icons) -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- JS and CSS for admin pages -->
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css">

    <!-- Code to ensure un-styled content does not briefly flash up -->
    <!-- (taken from https://stackoverflow.com/questions/3221561/eliminate-flash-of-unstyled-content) -->
    <script type="text/javascript">
      $('html').addClass('hidden');
      $(document).ready(function() {
        $('html').removeClass('hidden'); 
      });  
    </script>

  </head>
  <body>
    <?php
      if(isset($_SESSION["loggedIn"]) && $_SESSION["loggedIn"] == true && isset($_SESSION["profileComplete"]) && $_SESSION["profileComplete"] == true) {
        echo '<div style="text-align: center"><p>';
          echo '<a href="../admin/admin-home.php" class="btn btn-info">Admin</a> ';
          echo '<a href="../login/reset-password.php" class="btn btn-warning">Reset Password</a> ';
          echo '<a href="../../scripts/logout.php" class="btn btn-danger">Sign Out</a> ';
          echo '<a href="../main/suggestions.php" class="btn btn-info">Home</a> ';
          echo '<a href="../main/search.php" class="btn btn-info">Search</a> ';
          echo '<a href="../main/profile.php" class="btn btn-info">My Profile</a> ';
        echo '</p></div>';
      }
    ?>