 
* {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box; 
  box-sizing: border-box;
}

body { 
  font: 14px sans-serif;
}

.navbar {
  background-color: hsl(130, 29%, 41%);
}

.navbar .navbar-brand {
  color: rgb(252, 191, 134);
  font-size: 23px;
}

.navbar .nav-item {
  font-size: 18px;
}

.wrapper { 
  width: 30%; 
  padding: 1%; 
  margin: 2% auto;
  background-color: rgb(252, 191, 134);
}

.wrapper-wide { 
  width: 55%;
}

.site-motto {
  text-align: center;
  margin-bottom: 0%;
}

/* ********************** */
/* FORM REQUIREMENTS */
.form-group.required .control-label:after, .form-row.required .control-label:after { 
  content:"*";
  color:red;
}
/* ********************** */


/* ********************** */
/* ADMIN PAGES */
.page-header h2 {
  margin-top: 0;
}
table tr td:last-child a {
  margin-right: 10%;
}
/* ********************** */


/* ********************** */
/* Font-Awesome Icon Colors */
.fa-eye {
  color: blue;  
}
.fa-pencil {
  color: blue;  
}
.fa-trash-o {
  color: blue;  
}
.fa-heart {
  color: red;  
}
.fa-thumbs-up {
  color: #ffdbac;  
}
.fa-thumbs-down {
  color: #ffdbac;  
}
/* ********************** */